@charset "shift_jis"; 

.page {
/*    width:640px; */
    font-family: 'Verdana','ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3','HiraKakuPro-W3','平成角ゴシック','helvetica',Sans-Serif;
}
.contents {
    margin-left: 20px;
    line-height: 1.6;
}

h2 {
    color: #000033;
    border-color: #003366;
    padding: 0px 0px 0px 10px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

h3 {
    color: #000033;
    border-color: #3399ff;
    padding: 0px 0px 0px 5px;
    border-style: solid;
    border-width: 0px 0px 0px 10px;
}

.tip {
    background: url(./media/lightbulb.gif) no-repeat 0 10px;
    border-color: #003366;
    padding: 10px 20px 10px 50px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}

.warning {
    background: url(./media/warning.gif) no-repeat 0 10px;
    border-color: #003366;
    padding: 10px 20px 10px 50px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}

.information {
    background: url(./media/information.gif) no-repeat 0 10px;
    border-color: #003366;
    padding: 10px 20px 10px 50px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}